<h1><%= @task.title.capitalize %></h1>
<h5><%= @task.details.capitalize %></h5>
<br>
<ul class="list-unstyled">
  <li>
    <% if @task.completed %>
      <i class="fa-regular fa-square-check"></i> <%= " Task completed" %>
    <% else %>
      <i class="fa-regular fa-square"></i> <%= " Task not completed" %>
    <% end %>
  </li>
</ul>
<%=
  button_to 'Update task',
  edit_path(@task.id),
  method: :get,
  class: "btn btn-primary"
%>
<br>
<%=
  button_to 'Back to tasks',
  tasks_path,
  method: :get,
  class: "btn btn-primary"
%>
